/* Table cells */
table,td,th{
    border: 1px solid #3f3832;
    text-align: center;
    word-wrap: break-word;
    padding: 7px;
}

/* Table */
table {
    margin: 0px auto;
    font-size: 12px;
    box-shadow: 0 1px 4px -1px;
    width: 80%;
    border-radius: 10px;
    border-spacing: 0px;
    border: 1px ;
    padding: 1px;
    background-color: #3f3832;
}
/* Table rounded corner */
/* Upper left corner */
tr:first-of-type th:first-of-type {
    border-top-left-radius: 10px;
}
/* Upper right corner */
tr:first-of-type th:last-of-type {
    border-top-right-radius: 10px;
}
/* Lower left corner */
tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}
/* Lower right corner */
tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

/* Table head */
.table-title {
    color: #1b1b1b;
    font-weight: 600;
    background-color: #b9d85d;
    height: 40px;
    padding: 10px 5px;
}

/* Table subhead or field */
.table-head {
    color: #1b1b1b;
    font-weight: 600;
    background-color: #f99a40;
    height: 35px;
    padding: 10px;
}

/* Courses already taken */
.table-body-taken {
    background-color: #7fc0e8;
    height: 45px;
}

/* Stiped Color */
.table-body-taken:nth-child(even) {
    background-color: #afddfa;
}

/* Courses currently taken */
.table-body-in-progress {
    background-color: #ffe751;
    height: 45px;
}

/* Stiped Color */
.table-body-in-progress:nth-child(even) {
    background-color: #e9d44a;
}

/* Courses not taken */
.table-body-not-taken {
    background-color: #f7f7f2;
    height: 45px;
}

/* Stiped Color */
.table-body-not-taken:nth-child(even) {
    background-color: #dbdbdb;
}

/* Notice section */
.notice {
    padding: 10px;
    background-color: #7fc0e8;
    margin-left: 20px;
    margin-right: 20px;
}
/* Body */
body {
    font-family: 'verdana';
    text-align: center;
    font-size: 12px;
    padding: 1px;
    background-color: whitesmoke;
}
/* Paragraph */
p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}
/* Division */
div {
    margin: 1px;
    padding: 1px;
}
/* Print button */
.print-button{
    width: 13px;
    height: 13px;
    float:right;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 3px;
    padding: 6px;
    background-color: #ffffff;
    filter: grayscale(100%) brightness(80%);
}
/* Hover */
.print-button:hover{
    filter: brightness(90%);
    border: 1px solid #1f1f1f;
}